@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
@import "reset.css";

body {
    font-family: 'Frank Ruhl Libre', serif;
    color: #504A59;
}

.home-body{
    background-image: radial-gradient(#eeeeee 5%, transparent 20%), radial-gradient(#eeeeee 5%, transparent 20%);
    background-color: rgb(255, 255, 255);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 10px 10px 40px;
}

.logo {
    font-size: 5vw;
    font-weight: 900;
    color: #3F2F59;
    text-decoration: none;
    
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    
}
.menu ul li {
    padding: 20px;
    font-size: 1.5vw;
    /* font-weight: 500; */
}

.menu ul li a{
   text-decoration: none;
   color: #3F2F59;
   font-weight: 500;
}

.wrrap {
    display: flex;
    /* padding: 55px; */
    align-items: center;
    text-align: center;
    flex-flow: row;
    width: 100%;
    height: 90vh;
}
.wrrap.aboutme {
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-flow: column;
    text-align: left;
    align-items: flex-start;
}


.wrrap.aboutme .section h1{
    font-size: 30px;
    color:#3F2F59;
    border-bottom: solid 4px #3F2F59;
    width: fit-content;
    font-weight: 700;

}
.wrrap.aboutme .section{
   margin-left: 40px;
   padding-top: 10px;

}


.home-image {
    /* padding-left: 60px; */
    width: 50%;
}

.my-image-home {
    width: 70%;
    height: auto;
}

.description {
    flex-flow: column;
    /* padding: 80px; */
    width: 50%;
    padding-right: 25px;
}

.description h1 {
    color: #3F2F59;
    font-size: 6vw;
    font-weight: 900;
}

.description p {
    padding: 20px;
    font-size: 2vw;
    margin-bottom: 50px;
}

.description a {
    font-size: 2.5vw;
    text-decoration: none;
    color: #3F2F59;
    /* text-decoration-style: wavy; */

}

footer {
    background-color: #3F2F59;
    width: 100%;
    text-align: center;
}

footer p {
    color: #ffffff;
    padding: 10px;
}

@media only screen and (max-width: 768px){

    .logo {
        font-size: 6vw;
        font-weight: 900;
        color: #3F2F59; 
    }

    .menu ul li {
        padding: 10px;
        font-size: 3vw;
        /* font-weight: 500; */
    }
    
    .wrrap {
        flex-flow: column;
    }  
    .wrrap.aboutme {
        height: auto;
    }
    .home-image {
        margin-top: 50px;
    }
    .my-image-home {
        width: 100%;
        height: auto;
    }

    .description {
        padding-right: 0;
        width: 100%;
    }

    .description h1 {
        padding-top: 10px;
        font-size: 9vw;
    }
    

    .description p {
        margin-bottom: 20px;
        font-size: 6vw;
    }

    .description a {
        font-size: 6vw;
        background: #3F2F59;
        color: #ffffff;
        padding: 5px;
        border-radius: 5px;
    
    }

}
